<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Sokoban Api</title>
</head>

<body>
  <h1>Bienvenue sur l'API de Sokoban</h1>
  <div class="container">
    {{{body}}}
  </div>
  <footer>
    <p>SIMON Grégory, CHABROL Baptiste, RAINTEAU Tom, FAURE Hugo</p>
    <p>DAWIN A</p>
  </footer>
</body>

</html>